.login__container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .login__card {
    width: 35%;
    display: flex;
    border-radius: 2.375em;
    box-shadow: inset 0 0 0 2px #ee3b3b;
    overflow: hidden;
    padding: 3em;

    .login__form {
      width: 100%;

      .submit-container {
        display: flex;
        justify-content: center;
        padding: 2em 0 0 0;

        ul {
          margin: 0 !important;
          li {
            padding: 0 !important;
          }
        }
      }
    }
    .login__form > h3{
      text-align: center;
      font-size: x-large;
      color: #ee3b3b;
    }
  }
}


