<!-- Header -->
<header id="header">
  <a [routerLink]="['/portafolio']" class="logo"><strong>Portafolio</strong> by Sheyla Cruz Castro</a>
  <ul class="icons">
    <li><a href='https://www.linkedin.com/in/sheycc/' class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a href='https://github.com/sheycc' class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    <li *ngIf="isAdmin()"><a class="icon brands action" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></a></li>
  </ul>
</header>
