<!-- Sidebar -->
<div id="sidebar" [class.inactive]="isSidebarInactive">
  <div class="inner">
    <!-- Menu -->
    <nav id="menu">
      <header class="major">
        <h2>Menu</h2>
      </header>
      <ul>
        <li><a href="#banner">Homepage</a></li>
        <li><a href="#about-me">About Me</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#works">Works</a></li>
        <li><a href="#contact">Get in Touch</a></li>
        <li><a routerLink="/admin/tabs">Admin</a></li>
      </ul>
    </nav>
  </div>
  <a class="toggle" (click)="toggleSidebar($event)"></a>
</div>
