
<!-- Banner -->
<section id="banner">
  <div class="content">
    <h4>Skills & Subskills</h4>
    <div class="table-wrapper">
      <table>
        <thead>
        <tr>
          <th>Skill</th>
          <th>Subskills</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let skill of skills$ | async">
          <td>{{skill.name}}</td>
          <td id="menu">
            <ul>
              <li>
                <span class="opener" (click)="toggleMenu($event)">{{getSubskillsStr(skill.uid!)}}</span>
                <ul>
                  <li *ngFor="let subskill of getSubskills(skill.uid!)" class="li__row">
                    {{subskill.name}}
                    <ul class="li__a">
                      <li>
                        <a routerLink="../../skills-subskills/create-subskill/edit/{{subskill.uid}}" class="icon">
                          <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                      </li>
                      <li>
                        <a (click)="deleteSubskill(subskill.uid)" class="icon">
                          <i class="fa-solid fa-trash"></i>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <div class="last__row">
                    <a routerLink="../../skills-subskills/create-subskill/{{skill.uid}}" class="icon">
                      <i class="fa-solid fa-plus"></i>
                    </a>
                  </div>
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <ul class="icons">
              <li><a routerLink="../../skills-subskills/create-skill/edit/{{skill.uid}}" class="icon">
                <i class="fa-solid fa-pen-to-square"></i>
              </a></li>
              <li><a (click)="deleteSkill(skill.uid)" class="icon">
                <i class="fa-solid fa-trash"></i>
              </a></li>
            </ul>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="2"></td>
          <td>
            <a routerLink="../../skills-subskills/create-skill" class="icon">
              <i class="fa-solid fa-plus"></i>
            </a>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>

