
<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Header -->
      <app-header></app-header>

      <div class="card">
        <p-tabView  [(activeIndex)]="activeIndex" (onChange)="onTabChange($event)">
          <p-tabPanel header="Resume">
            <app-resume></app-resume>
          </p-tabPanel>
          <p-tabPanel header="Projects">
          </p-tabPanel>
          <p-tabPanel header="Skills">
          </p-tabPanel>
          <router-outlet></router-outlet>
        </p-tabView>
      </div>

      <!-- Footer -->
      <app-footer></app-footer>
    </div>

  </div>


</div>


