::ng-deep{
  .p-tabview ul.p-tabview-nav{
    list-style: none !important;
    margin: 1em 0 !important;
    padding-left: 0 !important;
    display: flex;
    justify-content: center;
  }
  .p-tabview-nav {
    position: relative; }
  .p-tabview-nav a {
    border-bottom: none;
    text-decoration: none;
    position: relative;
    padding: 0 1em 1em 1em;
    color: #323318; }
  .p-tabview-nav li.p-highlight a{
    color: #f56a6a; }
  .p-tabview-nav li {
    padding: 0; }
  /* Pseudo-elemento para crear la animación de deslizamiento horizontal */
  .p-tabview-nav li.p-highlight a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #f56a6a;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out; }
  /* Activa la animación cuando el tab está seleccionado */
  .p-tabview-nav li.p-highlight a:hover::before,
  .p-tabview-nav li.p-highlight a::before {
    transform: scaleX(1);
  }
}
